body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* padding-top: 20px; */
    border-style:ridge;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.empPhoto {
    height: 60px;
    width: 60px;
    margin-top:35px;
    margin-left:35px;
    margin-bottom: 10px;
    
}


/* About Photo Hover Spin effect*/
.empPhoto { transition: all 0.3s ease-in-out 0s; }

.empPhoto:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}


.buttons {
 margin-top: 10px;
 margin-bottom: 20px;

}


#scroll{
    /* margin-top: 30%; */
    white-space: nowrap;
    /* overflow: scroll; */
    direction: rtl;
    height: 50px;
    background-color: lightslategray;
    text-decoration: none;
    border-width:2px;  
    border-style:ridge;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: whitesmoke;
    
}


.main {
    margin-left: 225px; /* Same as the width of the sidenav */
    margin-top: 20px;
    
}


/* Sized for screens up to 450 pxels. */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  /* .sidenav {width: 175px;}
  .sidenav a {padding-right:0px;} */
  
}